<%= form_with(model: store, local: true) do |form| %>
  
 <div class="row">
  <div class="form-group col-lg-6">
    <%= form.label :name, class: "control-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
</div>
  <div class="actions">
    <%= form.submit "save", class: "btn btn-success" %>
  </div>
<% end %>
