
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1>New Store</h1>
    </div>
    <div class="panel-body">  

        <%= render 'form', store: @store %>
      
    </div>
  </div>  

</div>

<%= link_to 'Back', stores_path %>