
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Food Calculator</h1>
    </div>
    <div class="panel-body">  
				<div class="list-group">
					<a href="<%= bills_path%>" class="list-group-item">
						<h4>Bills</h4>
					</a>
					<a href="<%= stores_path%>" class="list-group-item">
						<h4>Stores</h4>
					</a>
				</div>
       
    </div>
    
  </div>  

</div>